
body{
	background-color:rgb(48, 132, 227);
}
.button{

	color: black;
	padding: 20px 35px;
	border-radius: 10px;
	font-size: 16px;
	text-align: center;
	width: 100%;
	border: 2px solid #1f367a;
	background-color: #a2b4eb;
	outline: none;
	box-shadow: 0 1px solid black;

}
.button:hover {
	background-color: #2b428a;
	color: white;
}
#screen{
	width: 500px;
	height: 80px;
	border-radius: 15px;
	border: 2px solid #1f367a;
	background-color: #ccd9ff;
	color: black;
	text-align: right;
	font-size: 25px;
	outline: none;
}
table{
	border: 2px solid black;
	background-color: #061540;
	margin-left: auto;;
	margin-right: auto;
	margin-top: 5%;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
}
.casio
{
	font: serif;
	color: white;
	text-align: center;
}
@media (max-width:700px) {
	table{
		width: 100%;
		padding: 2%;
	}
	#screen{
		width: 100%;
	}
}
